@font-face {
  font-family: Gotham;
  src: url('../fonts/Gotham-ThinItalic.woff2') format("woff2");
  font-weight: 100;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: Gotham;
  src: url('../fonts/Gotham-Light.woff2') format("woff2");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Gotham Ultra 1";
  src: url('../fonts/Gotham-Ultra_1.woff2') format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: Gotham Book;
  src: url('../fonts/Gotham-Book.woff2') format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: Gotham;
  src: url('../fonts/Gotham-Black.woff2') format("woff2");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: Gotham;
  src: url('../fonts/Gotham-ExtraLight.woff2') format("woff2");
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Gotham 1";
  src: url('../fonts/Gotham-Medium_1.woff2') format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: GothamLight-Italic;
  src: url('../fonts/GothamLight-Italic.woff2') format("woff2");
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: Gotham Ultra;
  src: url('../fonts/Gotham-Ultra.woff2') format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: Gotham;
  src: url('../fonts/Gotham-Bold.woff2') format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: Gotham;
  src: url('../fonts/Gotham-MediumItalic.woff2') format("woff2");
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: Gothamultra;
  src: url('../fonts/GothamUltra.woff2') format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: GothamLight;
  src: url('../fonts/GothamLight.woff2') format("woff2");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: Gotham;
  src: url('../fonts/Gotham-XLightItalic.woff2') format("woff2");
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: Gotham;
  src: url('../fonts/Gotham-UltraItalic.woff2') format("woff2");
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

:root {
  --_omenfonts---dark: #161616;
  --_omenfonts---gotham: Gotham, Arial, sans-serif;
  --_omenfonts---white: white;
  --_omenfonts---black: #000;
  --_omenfonts---omenred: #dc2f2f;
  --_omenfonts---red: #c8202f;
  --_omenfonts---color: #3d3d3d;
}

.w-layout-grid {
  grid-row-gap: 16px;
  grid-column-gap: 16px;
  grid-template-rows: auto auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  display: grid;
}

a {
  text-decoration: none;
}

.omen-herowrap {
  background-color: var(--_omenfonts---dark);
  background-image: url('../images/heroback.png');
  background-position: 0 0;
  background-repeat: no-repeat;
  background-size: contain;
  background-attachment: fixed;
  width: 100%;
  height: auto;
  min-height: 600px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}

.image {
  object-fit: cover;
  width: 100%;
  min-width: 100%;
  height: 100%;
  min-height: 500px;
  margin-left: auto;
  margin-right: auto;
  position: absolute;
  inset: 0% auto auto 0%;
}

.omenherotitlewrap {
  width: 100%;
  margin-left: auto;
  margin-right: 5px;
  position: absolute;
  inset: 0% 0% 0% auto;
}

.omenheroside {
  cursor: pointer;
  object-fit: none;
  flex-flow: column;
  justify-content: center;
  align-items: flex-end;
  width: 70%;
  max-width: none;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 2%;
  padding-right: 0%;
  display: flex;
  position: absolute;
  inset: 0% 0% 0% auto;
}

.omenheroside:hover {
  color: var(--_omenfonts---black);
}

.omenherotextwrap {
  align-self: flex-end;
  width: 100%;
}

.paragraph-gotham {
  font-family: var(--_omenfonts---gotham);
  color: var(--_omenfonts---white);
  max-width: 55rem;
  font-size: 105%;
  font-weight: 300;
  line-height: 130%;
}

.paragraph-gotham.wide {
  max-width: none;
}

.gothamheadline {
  font-family: var(--_omenfonts---gotham);
  color: var(--_omenfonts---white);
  margin-bottom: 0;
  font-size: 450%;
  font-weight: 300;
  line-height: 101%;
}

.omenheroh2 {
  color: var(--_omenfonts---white);
  margin-top: 10px;
  margin-bottom: 42px;
  font-family: GothamLight, Arial, sans-serif;
  font-size: 140%;
  line-height: 101%;
}

.omentitletextblock {
  max-width: none;
  position: relative;
}

.heroimagewrapper {
  object-fit: none;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  height: 70svh;
  min-height: 70svh;
  margin-left: auto;
  margin-right: auto;
  display: block;
  position: absolute;
  inset: 0% auto auto 0%;
  overflow: auto;
}

.main {
  max-width: 1300px;
  margin-left: auto;
  margin-right: auto;
}

.lockintext {
  font-family: var(--_omenfonts---gotham);
  color: var(--_omenfonts---white);
  margin-top: 25%;
  margin-left: auto;
  margin-right: auto;
  font-size: 110%;
  font-weight: 700;
  line-height: 105%;
  text-decoration: none;
}

.lockintext:hover {
  color: var(--_omenfonts---omenred);
}

.omen-valorant {
  border-top: 1px solid var(--_omenfonts---omenred);
  background-color: var(--_omenfonts---dark);
  margin-left: auto;
  margin-right: auto;
  padding: 10% 5%;
}

.grid-unleash {
  grid-column-gap: 5%;
  grid-row-gap: 5%;
  grid-template-rows: auto;
  margin-left: auto;
  margin-right: auto;
}

.halfimagewrap {
  width: 100%;
  min-width: 35rem;
  height: 100%;
  position: relative;
}

.imagewrapouter {
  object-fit: cover;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-width: auto;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
  display: flex;
}

.squareright {
  min-height: auto;
  max-height: 500px;
}

.omencenter {
  background-color: var(--_omenfonts---dark);
  font-family: var(--_omenfonts---gotham);
  flex-flow: column;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  padding: 5%;
  display: flex;
}

.mediawrapper {
  flex-flow: column;
  justify-content: center;
  align-items: center;
  margin-top: 0%;
  margin-left: auto;
  margin-right: auto;
  display: flex;
}

.triogridwrap {
  width: 100%;
  min-width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.grid {
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr 1fr;
  width: 100%;
}

.imagetrio {
  object-fit: cover;
  width: 100%;
  min-width: 100%;
  height: 100%;
  min-height: auto;
  max-height: none;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}

.triotextvalue {
  margin-left: auto;
  margin-right: auto;
  padding-top: 10px;
}

.text-block {
  color: var(--_omenfonts---white);
  text-align: center;
  font-size: 140%;
  line-height: 102%;
}

.mediacenteredgotham {
  color: var(--_omenfonts---white);
  font-size: 300%;
  font-weight: 400;
  line-height: 101%;
}

.valorantlogos {
  border: 1px #000;
  max-width: 35rem;
  margin-bottom: 65px;
  margin-left: 0;
  margin-right: auto;
}

.grid-2 {
  border-right: 0px none var(--_omenfonts---dark);
  grid-template-rows: auto;
  grid-template-columns: 1fr 2px 1fr;
  margin-bottom: 24px;
  margin-left: auto;
  margin-right: auto;
}

.logovalorant {
  border-right: 0px none var(--_omenfonts---dark);
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-right: 5%;
  display: flex;
}

.logovalorant.right {
  justify-content: flex-end;
  align-items: flex-start;
}

.image-2 {
  object-fit: contain;
}

.rowline {
  border-right: 1px solid var(--_omenfonts---white);
  background-image: url('../images/1pixel.svg');
  background-position: 50%;
  background-repeat: repeat-y;
  background-size: auto;
  justify-content: center;
  align-items: center;
  width: 1px;
  height: 40px;
  margin-right: 20px;
  display: flex;
  position: relative;
}

.herotopmax {
  flex-flow: column;
  align-self: flex-end;
  width: 100%;
  max-width: 60rem;
  margin-top: 0;
  margin-left: 0;
  margin-right: 20px;
  padding-left: 0%;
  display: flex;
  position: relative;
}

.headline2 {
  font-family: var(--_omenfonts---gotham);
  color: var(--_omenfonts---white);
  margin-bottom: 27px;
  font-size: 300%;
  font-weight: 300;
  line-height: 101%;
}

.redbutton {
  background-color: var(--_omenfonts---omenred);
  text-align: center;
  min-width: 250px;
  padding-top: 22px;
  padding-bottom: 22px;
  font-weight: 500;
}

.mediablock {
  background-color: var(--_omenfonts---dark);
}

.followwrap {
  margin-left: auto;
  margin-right: auto;
  padding: 5%;
}

.grid-3 {
  grid-template-rows: auto;
  grid-template-columns: .25fr 1fr;
}

.mediagameblock {
  margin-top: 73px;
}

.headsmallcode {
  color: var(--_omenfonts---white);
  margin-top: 0;
  margin-bottom: 0;
  font-family: GothamLight, Arial, sans-serif;
  font-size: 140%;
  line-height: 101%;
}

.link-block {
  cursor: pointer;
  flex-flow: column;
  display: flex;
}

.wrapper {
  background-color: var(--_omenfonts---black);
}

.omenlogowrap {
  object-fit: contain;
}

.valorantgrid {
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr 1fr;
  width: 100%;
  min-width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.link-block-2 {
  width: 100%;
}

.logosgrid {
  border-right: 0px none var(--_omenfonts---dark);
  grid-template-rows: auto;
  grid-template-columns: 1fr 2px 1fr;
  margin-bottom: 24px;
  margin-left: auto;
  margin-right: auto;
}

.text-block-2 {
  margin-bottom: 28px;
  margin-left: auto;
  margin-right: auto;
}

.imagelogo {
  object-fit: contain;
}

.gridfollow {
  grid-template-rows: auto;
  grid-template-columns: .25fr 1fr;
}

.whitepixel {
  width: 1px;
  height: 40px;
  min-height: 40px;
}

.link-block-4 {
  cursor: pointer;
}

.code-embed {
  width: 100%;
  margin-top: 0;
  margin-left: auto;
  margin-right: auto;
}

.image-3 {
  overflow: hidden;
}

.streamblock {
  margin-left: auto;
  margin-right: auto;
  padding: 2%;
}

.logoswrap {
  justify-content: center;
  align-items: center;
  display: flex;
}

.lineinner {
  background-color: var(--_omenfonts---white);
  background-image: url('../images/1pixel.svg');
  background-position: 50%;
  background-repeat: repeat-y;
  background-size: auto;
  border: 1px #000;
  justify-content: center;
  align-items: center;
  width: 1px;
  height: 40px;
  margin-right: 20px;
  display: flex;
  position: relative;
}

.logosleft {
  padding-left: 0;
  padding-right: 81px;
}

.logosright {
  margin-left: auto;
  margin-right: auto;
}

.logoswrapright {
  padding-left: 44px;
}

.titlecenter {
  justify-content: center;
  align-items: flex-start;
  margin-top: 20px;
  display: flex;
}

@media screen and (max-width: 991px) {
  .image {
    object-fit: fill;
    min-height: auto;
    inset: 0% auto auto 0%;
  }

  .omenherotitlewrap {
    width: 70%;
    position: static;
    inset: auto 0% 15% auto;
  }

  .omenheroside {
    aspect-ratio: auto;
    object-fit: contain;
    background-image: none;
    justify-content: flex-end;
    align-items: flex-end;
    width: 90%;
    height: auto;
    min-height: auto;
    inset: 0% 0% 0% auto;
  }

  .paragraph-gotham {
    margin-top: 31px;
  }

  .gothamheadline {
    margin-top: 0;
  }

  .omenheroh2 {
    margin-bottom: 0;
  }

  .heroimagewrapper {
    display: flex;
  }

  .grid-unleash {
    grid-template-columns: 1fr;
  }

  .imagewrapouter {
    flex-flow: column;
    justify-content: center;
    align-items: center;
    min-width: auto;
    margin-bottom: 48px;
    display: flex;
  }

  .mediawrapper {
    width: 100%;
  }

  .grid {
    grid-template-columns: 1fr;
  }

  .imagetrio {
    aspect-ratio: 2 / 3;
    height: 60svh;
    max-height: none;
  }

  .valorantlogos {
    width: 100%;
    max-width: 45rem;
  }

  .herotopmax {
    flex-flow: column;
    justify-content: center;
    align-items: flex-start;
    max-width: 40rem;
    padding-left: 0%;
    padding-right: 5%;
    display: flex;
    bottom: 20%;
  }

  .grid-3 {
    margin-left: auto;
    margin-right: auto;
    position: relative;
  }

  .partnersubtext {
    max-width: 25rem;
  }

  .valorantgrid {
    grid-template-columns: 1fr;
  }

  .gridfollow {
    margin-left: auto;
    margin-right: auto;
    position: relative;
  }
}

@media screen and (max-width: 767px) {
  .omen-herowrap {
    flex-flow: column;
    justify-content: center;
    align-items: center;
    height: auto;
    min-height: 650px;
    margin-bottom: 0;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 0;
    display: block;
  }

  .image {
    min-height: auto;
  }

  .omenherotitlewrap {
    background-color: var(--_omenfonts---dark);
    font-family: var(--_omenfonts---gotham);
    color: var(--_omenfonts---white);
    flex-flow: column;
    justify-content: center;
    align-items: center;
    height: 300px;
    min-height: auto;
    display: flex;
    position: absolute;
    inset: auto 0% 0%;
  }

  .omenheroside {
    object-fit: none;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
    max-width: none;
    min-height: 550px;
    margin-top: -253px;
    margin-bottom: 0;
    padding-right: 2%;
    inset: 0% 15% 0% auto;
  }

  .omenherotextwrap {
    margin-top: 0;
    margin-left: auto;
    margin-right: auto;
  }

  .paragraph-gotham.wide.left {
    margin-top: 0;
    position: relative;
  }

  .gothamheadline {
    font-size: 350%;
  }

  .heroimagewrapper {
    aspect-ratio: 16 / 9;
    height: auto;
    min-height: 100px;
    inset: 0% auto auto 0%;
  }

  .grid-unleash {
    grid-template-columns: 1fr;
  }

  .halfimagewrap {
    min-width: auto;
  }

  .imagewrapouter {
    width: auto;
    margin-bottom: 123px;
  }

  .triogridwrap {
    min-width: auto;
    position: relative;
  }

  .imagetrio {
    aspect-ratio: auto;
    height: auto;
    min-height: 60svw;
    max-height: 60svw;
  }

  .herotopmax {
    justify-content: flex-start;
    align-items: flex-start;
    max-width: none;
    margin-top: 10px;
    margin-left: 0;
    margin-right: auto;
    padding-right: 2%;
    bottom: 0%;
  }

  .valorantgrid {
    min-width: auto;
  }

  .link-block-2 {
    width: auto;
  }

  .followwrapper {
    flex-flow: column;
    justify-content: center;
    align-items: center;
    height: 300px;
    display: flex;
  }
}

@media screen and (max-width: 479px) {
  .omen-herowrap {
    height: auto;
    min-height: 700px;
  }

  .image {
    height: auto;
    inset: 0% auto auto 0%;
  }

  .omenherotitlewrap {
    justify-content: center;
    align-items: center;
    width: 100%;
    inset: auto 0% 10%;
  }

  .omenheroside {
    justify-content: flex-start;
    align-items: center;
    margin-top: -244px;
    margin-bottom: 10px;
    right: 0%;
  }

  .omenherotextwrap {
    flex: none;
  }

  .paragraph-gotham {
    text-align: center;
  }

  .paragraph-gotham.wide.left {
    text-align: left;
  }

  .gothamheadline {
    text-align: center;
    margin-bottom: 28px;
    font-size: 300%;
  }

  .omenheroh2 {
    text-align: center;
    margin-bottom: 0;
    font-size: 140%;
  }

  .omentitletextblock {
    margin-bottom: 51px;
  }

  .heroimagewrapper {
    background-color: var(--_omenfonts---dark);
    justify-content: center;
    align-items: flex-start;
    height: auto;
    min-height: 200px;
  }

  .lockinblock {
    justify-content: center;
    align-items: center;
    width: 100%;
    display: flex;
  }

  .lockintext {
    justify-content: center;
    align-items: center;
    display: flex;
  }

  .halfimagewrap {
    margin-bottom: 88px;
    margin-left: auto;
    margin-right: auto;
  }

  .imagewrapouter {
    justify-content: center;
    align-items: center;
    margin-bottom: 53px;
  }

  .imagewrapouter.center {
    justify-content: center;
    align-items: center;
  }

  .squareright {
    min-height: auto;
  }

  .mediawrapper {
    justify-content: center;
    align-items: center;
    margin-top: 15%;
  }

  .imagetrio {
    aspect-ratio: auto;
    min-width: 100%;
    min-height: 59svw;
    max-height: 59svw;
  }

  .grid-2 {
    grid-template-columns: 1fr;
  }

  .logovalorant {
    border-right-style: none;
    justify-content: center;
    align-items: center;
  }

  .logovalorant.right {
    justify-content: center;
    align-items: center;
  }

  .rowline {
    height: 0;
    overflow: hidden;
  }

  .herotopmax {
    flex: none;
    justify-content: center;
    align-items: center;
    min-height: 350px;
    margin-top: 0;
    padding-right: 0%;
  }

  .headline2 {
    text-align: center;
    font-size: 150%;
  }

  .headsmallcode {
    text-align: left;
    font-size: 140%;
  }

  .link-block {
    width: 100%;
  }

  .logosgrid {
    grid-template-columns: 1fr;
  }

  .gridfollow {
    height: 500px;
  }

  .link-block-3 {
    width: 100%;
  }

  .logoswrap {
    flex-flow: column;
  }

  .lineinner {
    height: 0;
    overflow: hidden;
  }

  .logosleft {
    padding-right: 0;
  }

  .logoswrapright {
    margin-top: 19px;
    padding-left: 0;
  }
}

#w-node-cd0b49b2-f63e-60c4-7249-89553dea333b-2bc9d08e, #w-node-_7b6587b1-1538-82c5-2fdb-84cae278a978-2bc9d08e {
  place-self: center;
}

#w-node-_73e53f44-13d6-338c-f0d6-0aedd7840ad1-2bc9d08e {
  align-self: start;
}

#w-node-ec6acb40-6252-f115-3e78-95800ab16093-2bc9d08e, #w-node-cd0b49b2-f63e-60c4-7249-89553dea333b-f4227ac8, #w-node-_7a6f21f1-5479-0df1-b796-0a32990f2886-f4227ac8, #w-node-ec6acb40-6252-f115-3e78-95800ab16093-f4227ac8 {
  place-self: center;
}

@media screen and (max-width: 767px) {
  #w-node-_73e53f44-13d6-338c-f0d6-0aedd7840ad1-2bc9d08e {
    place-self: center start;
  }
}

@media screen and (max-width: 479px) {
  #w-node-_73e53f44-13d6-338c-f0d6-0aedd7840ad1-2bc9d08e {
    place-self: center;
  }
}


@font-face {
  font-family: 'Gotham';
  src: url('../fonts/Gotham-ThinItalic.woff2') format('woff2');
  font-weight: 100;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: 'Gotham';
  src: url('../fonts/Gotham-Light.woff2') format('woff2');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Gotham Ultra 1';
  src: url('../fonts/Gotham-Ultra_1.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Gotham Book';
  src: url('../fonts/Gotham-Book.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Gotham';
  src: url('../fonts/Gotham-Black.woff2') format('woff2');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Gotham';
  src: url('../fonts/Gotham-ExtraLight.woff2') format('woff2');
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Gotham 1';
  src: url('../fonts/Gotham-Medium_1.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'GothamLight-Italic';
  src: url('../fonts/GothamLight-Italic.woff2') format('woff2');
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: 'Gotham Ultra';
  src: url('../fonts/Gotham-Ultra.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Gotham';
  src: url('../fonts/Gotham-Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Gotham';
  src: url('../fonts/Gotham-MediumItalic.woff2') format('woff2');
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: 'Gothamultra';
  src: url('../fonts/GothamUltra.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'GothamLight';
  src: url('../fonts/GothamLight.woff2') format('woff2');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Gotham';
  src: url('../fonts/Gotham-XLightItalic.woff2') format('woff2');
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: 'Gotham';
  src: url('../fonts/Gotham-UltraItalic.woff2') format('woff2');
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}